* {
  margin: 0;
  padding: 0;
}

:root {
  --maxWidth: 1280px;
}

body {
  width: 100%;
  background-color: #fffbf7;
  color: #777;
  scroll-behavior: auto;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#root {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  max-width: var(--maxWidth);
}

.aside-left {
  flex: 0.2;
  z-index: 999;
}
.aside-left > p {
  transform: rotate(90deg);
  text-align: center;
}
.aside-left > p > a {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}
.aside-left > p:hover {
  color: black;
}

.border {
  display: block;
  border: 1px solid #b4afa88d;
  width: 2%;
  position: absolute;
  left: 5.3%;
  transform: rotate(90deg);
}

.main-frame {
  flex: 0.3;
}

.aside-right {
  flex: 0.5;
  display: flex;
  justify-content: right;
  align-items: center;
}
.aside-right .location,
.aside-right .day {
  display: none;
  font-size: 0;
}
.aside-right .day {
  right: 60%;
}
.aside-right ul {
  padding: 2em;
  height: 80vh;
  overflow: hidden;
}
.aside-right li {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: bolder;
  list-style: none;
  transition: all 0.3s;
  text-align: right;
  margin: 12px 12px 12px 0;
}

.aside-right li:hover {
  cursor: pointer;
  font-size: 1.6em;
  color: black;
}

.aside-right li.active {
  font-size: 4em;
  color: black;
}
/* .aside-right li.active .location,
.aside-right li.active .day {
  position: absolute;
  display: inline-block;
  font-size: 12px;
  transition: all 0.3s ease;
} */
.aside-right li.active .location {
  position: absolute;
  display: inline-block;
  font-size: 12px;
  transition: all 0.3s ease;
  top: 0;
}
.aside-right li.active .day {
  position: absolute;
  right: -6%;
  bottom: 45%;

  display: inline-block;
  padding: 1px 5px;

  /* color: white; */
  font-size: 12px;
  letter-spacing: 1px;

  transform: rotateZ(90deg);
  /* backdrop-filter: invert(1); */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}