* {
  margin: 0;
  padding: 0;
}

:root {
  --maxWidth: 1280px;
}

body {
  width: 100%;
  background-color: #fffbf7;
  color: #777;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#root {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  max-width: var(--maxWidth);
}

.aside-left {
  flex: 0.2;
}

.aside-left > p {
  transform: rotate(90deg);
  text-align: center;
}

.border {
  display: block;
  border: 1px solid #b4afa88d;
  width: 2%;
  position: absolute;
  left: 5.3%;
  transform: rotate(90deg);
}


.main-frame {
  flex: 0.3;
}

.aside-right {
  flex: 0.5;
  max-height: 500px;
  overflow-y: hidden;
  scrollbar-width: 0;
}

.aside-right ul {
  padding: 1em 0;
}

.aside-right li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bolder;
  list-style: none;
  transition: all 0.3s;
  text-align: right;
}

.aside-right li.active {
  font-size: 4em;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}