:root {
    --imageWidth: 350px;
}

.image {
    width: var(--imageWidth);
    margin: 0 auto;
    box-shadow: 0 0 8px 0px rgb(181, 192, 206);
    border-radius: 1em;
    transition: all 0.3s ease-in;
}

.image:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.3s ease-out;
    box-shadow: 0 0 1px 0px rgb(181, 192, 206);
}

.image img {
    width: var(--imageWidth);
}

img {
    transition: all 0.3s ease-in;
}

.image:hover img:hover {
    transform: scale(1.5);
    transition: all 0.3s ease-out;
}
